# Telegram
BOT_TOKEN=123....

# OpenRouter / LLM
OPENROUTER_API_KEY=sk-or-...
OPENROUTER_URL=https://openrouter.ai/api/v1
MODEL_NAME=openai/gpt-4o-mini

# PostgreSQL 
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=sanskrit_db